---
import { formatInTimeZone } from 'date-fns-tz';
import BlogImage from '../components/BlogImage.astro';

interface Props {
  title: string;
  description: string;
  date: Date;
  timezone: string;
  slug: string;
  cover?: string;
}

const { title, description, date, timezone, slug, cover = null } = Astro.props;
const formattedDate = formatInTimeZone(
  date,
  timezone,
  'EEE MMM dd yyyy'
)
---

<header>
  <h2>
    <a href={`/blog/${slug}/`}>{title}</a>
  </h2>
  <h4>{description}</h4>
  <p>{formattedDate}</p>
  {cover != null && <BlogImage alt="" src={cover} />}
</header>

<style>
  header {
    margin-block-end: 16px;
  }

  h2 a {
    border-bottom: none;
    text-decoration: none;
  }

  h2,
  h4 {
    margin: 0;
  }
</style>
